---
import MainLayout from "../layouts/MainLayout.astro";
import PlansCards from "../components/PlansCards.astro";
---

<MainLayout>
  <div class="justify-between flex w-full">
    <PlansCards
      position="left"
      golden={false}
      title="Quick launch"
      price="1.5M-2.2M"
      description="4-7 días hábiles"
      buttonText="ADD TO CART"
      features={[
        "1 proyecto",
        "3 colaboradores",
        "Soporte comunidad",
        "1 GB almacenamiento"
      ]}
    />
    <PlansCards
      position="left"
      golden={false}
      title="Buissness Website"
      price="3M-4.5M"
      description="10-14 días hábiles"
      buttonText="Detalles"
    />
    <PlansCards
      position="left"
      golden={true}
      title="YOUR APP"
      price="5M+"
      description="20+ días hábiles"
      buttonText="ADD TO CART"
    />
  </div>
</MainLayout>
