---

---

<div class="wrapper">
  <div class="inner" style="--quantity: 6;">
    <a
      href="https://www.climanalytics.com" 
      target="_blank"
      class="card project-card"
      data-title="Descripción"
      data-description="Creé un <strong>ETL</strong> a partir de un webscrapper con <strong>Selenium</strong> usando <strong>Python</strong>, buscando en los registros de créditos de carbono del mundo, cada página requería su scrapping especifico, sin embargo logramos automatizarlo. <br/>Con ayuda de <strong>Pandas</strong> procesé y normalicé la información, para finalmente cargarla en un <strong>lambda</strong> en <strong>AWS</strong>."
      style="--index: 0;--color-card: #ffe600;"
    >
      <div class="img">
        <img src="../../public/ecoregistry.png" alt="" />
      </div>
      <p class="project__tittle">ETL Climanalytics</p>
    </a>
    <a
      href="https://www.youtube.com/watch?v=G2Ty1Y9_wTg" 
      target="_blank"
      class="card project-card"
      data-title="Descripción"
      data-description="Esta es una página personalizada para una psicóloga que deseaba tener un sistema de agendas centralizado.</br>La profesional Agendar turnos y citas virtuales, modificar citas, habilitar o deshabilitar horas, o días completos, modificar usuarios, poner notas, y además cuenta con <strong>Mercadopago</strong>. Con este proyecto logré como <strong>fullstack developer</strong> en la academia <strong>4Geeks</strong>."
      style="--index: 1;--color-card: #ff6b35;"
    >
      <div class="img">
        <img src="https://i.ytimg.com/vi/G2Ty1Y9_wTg/hqdefault.jpg?sqp=-oaymwFBCNACELwBSFryq4qpAzMIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB8AEB-AH-CYAC0AWKAgwIABABGGUgZShlMA8=&rs=AOn4CLAn405cyvYhL-IR_urfdr_pGFANNg" alt="">
      </div>
      <p class="project__tittle">Therapy time</p>
     </a>
    <a
      href="https://prueba-tecnica-domina.vercel.app" 
      target="_blank"
      class="card project-card"
      data-title="Descripción"
      data-description="Este es un modelo de <strong>base de datos</strong> de usuarios para Domina, el cual tiene la capacidad de listar usuarios detalladamente, con paginación para poder manejar un amplio número de usuarios, y buscarlos por nombre.</br>Esta aplicación de react consume una <strong>API</strong> pública para poder visualizarla. Este Front fue creado con <strong>React</strong> y <strong>CSS</strong> puro."
      style="--index: 2;--color-card: #00c2a8;"
    >
      <div class="img">
        <img src="../../public/Domina.png" alt="" />
      </div>
      <p class="project__tittle">User database</p>
    </a>
    <a 
      href="https://prueba-tecnica-pi-flame.vercel.app" 
      target="_blank"
      class="card project-card"
      data-title="Descripción"
      data-description="Desarrollé una aplicación fullstack para la gestión de registros de marca, implementando una base de datos, y el registro de las marcas en la misma. Usé <strong>React</strong> para el frontend, y backend en <strong>Python</strong> con <strong>flask</strong>. El backend se levanto con <strong>render</strong>, y e front con <strong>vercel</strong>.</br>Diseñé una interfaz intuitiva basada en mockups y propuse mejoras visuales. En el <strong>Github</strong> puedes encontrar la documentación completa."
      style="--index: 3;--color-card: #b4e42e;"
    >
      <div class="img">
        <img src="../../public/signa.png" alt="" />
      </div>
      <p class="project__tittle">Registro de marca</p>
    </a>
    <a
      href="https://solicita-tu-credito-aqui.credisaba.com" 
      target="_blank"
      class="card project-card"
      data-title="Descripción"
      data-description="Para este proyecto, el cliente requería un simulador crediticio con toda la información posible para ser claros con el usuario final antes de solicitar el crédito. Este proyecto fue hecho con <strong>Javascript vanilla</strong>, debido a que el cliente tenía este formulario en un <strong>HTML</strong> y requería que fuese ligero.</br> Estilizado con <strong>CSS</strong> para adecuarlo a la marca, su identidad, y cumplir con los requerimientos técnicos."
      style="--index: 4;--color-card: #c084fc;"
    >
      <div class="img">
        <img src="../../public/favicon.png" alt="" />
      </div>
      <p class="project__tittle">Simulador crediticio</p>
    </a>
    <a
      href="https://tu-link.com" 
      target="_blank"
      class="card project-card"
      data-title="Descripción"
      data-description="Este es un proyecto <strong>Fullstack</strong> que también cuente como portafolio. En éste, el tatuador podrá subir sus últimos tatuajes, y su agenda lista para que el cliente agende una cita. El cliente además de poder ver su agenda,, podrá enviar una idea detallada, con imagenes de referencia para que el tatuador sea notificado en su celular, y finalmente envíe la cotización."
      style="--index: 5;--color-card: #ff0000;"
    >
      <div class="img">
        <img src="../../public/underConstruction.png" alt="Underconstruction" />
      </div>
      <p class="project__tittle">Tattoo appointer</p>
    </a>
    <!-- <div class="card" style="--index: 5;--color-card: #4164ee;">
      <div class="img">
        <img src="../../public/underConstruction.png" alt="Underconstruction">
      </div>
      <p class="project__tittle">Liga Freestyle</p>
    </div> -->

    <!-- <div class="card" style="--index: 7;--color-card: #eb90e3;">
      <div class="img">
        <img src="../../public/underConstruction.png" alt="Underconstruction">
      </div>
      <p class="project__tittle">Toques Medellín</p>
    </div> -->
  </div>
</div>

<style>
  .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .inner {
    --w: 120px;
    --h: 180px;
    --translateZ: calc((var(--w) + var(--h)) + 0px);
    --rotateX: -15deg;
    --perspective: 1000px;
    position: absolute;
    width: var(--w);
    height: var(--h);
    top: 25%;
    left: calc(50% - (var(--w) / 2) - 2.5px);
    z-index: 2;
    transform-style: preserve-3d;
    transform: perspective(var(--perspective));
    animation: rotating 25s linear infinite;
  }
  @keyframes rotating {
    from {
      transform: perspective(var(--perspective)) rotateX(var(--rotateX))
        rotateY(0);
    }
    to {
      transform: perspective(var(--perspective)) rotateX(var(--rotateX))
        rotateY(1turn);
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 3px solid black;
    border-radius: 12px;
    overflow: hidden;
    inset: 0;
    transform: rotateY(calc((360deg / var(--quantity)) * var(--index)))
      translateZ(var(--translateZ));
    cursor: pointer;

    background: var(--color-card);
  }
  .inner:hover,
  .inner:active {
    animation-play-state: paused;
  }
  .img {
    display: flex;
    width: auto;
    height: 100%;
    background-color: white;
    margin: 10px;
    border: 2px solid black;
    object-fit: cover;
  }
  .project__tittle {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
  }
</style>
