---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
import AboutMe from "../components/AboutMe.astro";
import Navbar from "../components/Navbar.astro"
import Pic from "../components/Pic.astro";

const { title } = Astro.props;

interface props {
  title: string;
  age?: number;
  isActive?: boolean;
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <ClientRouter />
  </head>
  <body>
    <Navbar/>
    <div class="min-h-screen grid grid-rows-[60vh_40vh] gap-4 p-4">
      <!-- TOP SECTION -->
      <div class="grid grid-cols-3 gap-4">
        <!-- what changes -->
        <div class="col-span-2 flex items-center justify-center">
          <div class="w-full h-full">
            <slot/>
          </div>
        </div>

        <!-- RIGHT (1/3) -->
        <div class="flex items-center justify-center">
          <div class="w-full h-full">
						<Pic/>		
					</div>
        </div>
      </div>
			
      <!-- MIDDLE DESCRIPTION -->
      <AboutMe title="Descripción"> 
        <p slot="description">
          Sólo soy <strong>"desarrollador"</strong> , porque no me limito al software o hardware, me encargo de <strong>crear</strong> de <strong>construir</strong> ideas que solucionen tus problemas.
          <br />
          Estudié <strong>Ingeniería física</strong> con la esperanza de ser un inventor, y aquí es donde radica mi creatividad.
					<br />
					Contáctame, ¡seguro se me ocurre una gran idea para tu negocio!
        </p>
				
      </AboutMe>
    </div>
  </body>
</html>
